@model IEnumerable<MissionSite.Models.Missions>
@{
    ViewBag.Title = "Missions";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
    <li>@Html.ActionLink("Missions", "Index", "Mission", new { mission = "Brasil Curitiba" }, null)</li>
    <li class="active">@ViewBag.MissionName</li>
</ol>

<div class="jumbotron">
    <div class="container">
        <h1>Mission Info</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <br />
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Missions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Colombia Bogota North", "Index", "Mission", new { mission = "Colombia Bogota North" }, null)</li>
                    <li>@Html.ActionLink("Brasil Belem", "Index", "Mission", new { mission = "Brasil Belem" }, null)</li>
                    <li>@Html.ActionLink("Brasil Curitiba", "Index", "Mission", new { mission = "Brasil Curitiba" }, null)</li>
                </ul>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <h2>@ViewBag.MissionName</h2>
                <div class="panel panel-default">
                    @Html.HiddenFor(m => item.MissionID)
                    <div class="panel-body">
                        <strong>Mission President Name:</strong> @Html.DisplayFor(m => item.MissionPresidentsName)
                    </div>
                    <div class="panel-body">
                        <strong>Mission Address:</strong><br /> @Html.Raw(item.MissionAddress)
                    </div>
                    <div class="panel-body">
                        <strong>Language:</strong> @Html.DisplayFor(m => item.MissionLanguage)
                    </div>
                    <div class="panel-body">
                        <strong>Climate:</strong> @Html.DisplayFor(m => item.MissionClimate)
                    </div>
                    <div class="panel-body">
                        <strong>Dominate Religion:</strong> @Html.DisplayFor(m => item.MissionDominantReligion)
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/Images/@Html.DisplayFor(m => item.MissionSymbol)" style="max-height:100%; max-width:100%;" />
            </div>
        }
        
    </div>
    