@model IEnumerable<MissionSite.Models.Missions>
@{
    ViewBag.Title = "Missions";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
    <li>@Html.ActionLink("Missions", "Index", "Mission", new { mission = "Brasil Curitiba" }, null)</li>
    <li class="active">@ViewBag.MissionName</li>
</ol>

<div class="jumbotron">
    <div class="container">
        <h1>Mission FAQs</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <br />
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Missions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>@Html.ActionLink("Colombia Bogota North", "Index", "Mission", new { mission = "Colombia Bogota North" }, null)</li>
                    <li>@Html.ActionLink("Brasil Belem", "Index", "Mission", new { mission = "Brasil Belem" }, null)</li>
                    <li>@Html.ActionLink("Brasil Curitiba", "Index", "Mission", new { mission = "Brasil Curitiba" }, null)</li>
                </ul>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-sm-6">
                <h2>@ViewBag.MissionName</h2>
                <div class="panel panel-default">
                    @Html.HiddenFor(m => item.MissionID)
                    <div class="panel-body">
                        <strong>Mission President Name:</strong> @Html.DisplayFor(m => item.MissionPresidentsFirstName) @Html.DisplayFor(m => item.MissionPresidentsLastName)
                    </div>
                    <div class="panel-body">
                        <strong>Mission Address:</strong><br /> @Html.Raw(item.MissionAddress)
                    </div>
                    <div class="panel-body">
                        <strong>Language:</strong> @Html.DisplayFor(m => item.MissionLanguage)
                    </div>
                    <div class="panel-body">
                        <strong>Climate:</strong> @Html.DisplayFor(m => item.MissionClimate)
                    </div>
                    <div class="panel-body">
                        <strong>Dominate Religion:</strong> @Html.DisplayFor(m => item.MissionDominantReligion)
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/Content/Images/@Html.DisplayFor(m => item.MissionSymbol)" style="max-height:100%; max-width:100%;" />
            </div>
        }
        
    </div>
    <hr />
    <div class="page-header ">
        <h1>
            Frequently Asked Questions
        </h1>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">I have many questions about missionary service. Who can best answer them?</h3>
                </div>
                <div class="panel-body">
                    Talk with your parents, priesthood leaders, or a trusted leader to help you find answers to your questions. <em>Preach My Gospel</em> and the <em>Missionary Handbook</em> are also great resources.
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Send</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your reply here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">How can I best prepare spiritually to be a missionary?</h3>
                </div>
                <div class="panel-body">
                    Work on strengthening your own understanding and testimony of the gospel by praying daily and studying the scriptures, especially the Book of Mormon. Attend your Church meetings. Participate in seminary or institute, if available. You may share the gospel with a friend, go to teaching appointments with the full-time missionaries, or ask recently returned missionaries about their experiences in the mission field. You may also become familiar with <em>Preach My Gospel</em>, especially chapters 1 and 3.
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Send</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your reply here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">How can I best prepare emotionally to be a missionary?</h3>
                </div>
                <div class="panel-body">
                    Elder L. Tom Perry explained: “Missionary service is emotionally demanding. Your support system is going to be withdrawn from you as you leave home and go out into the world. … There will be days of rejection and disappointment. Learn now about your emotional limits, and learn how to control your emotions under the circumstances you will face as a missionary” (L. Tom Perry, “Raising the Bar,” Liahona, Nov. 2007, 48).
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Send</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your reply here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">What is a typical day for a missionary like?</h3>
                </div>
                <div class="panel-body">
                    A missionary's day is filled with activities that help accomplish the missionary purpose of bringing souls to Christ. Read the “Missionary Daily Schedule” to see the activities in a typical day, and study the lessons in chapter 3 of Preach My Gospel to find what missionaries teach. One way to understand day-to-day missionary activities is to watch The District. These video segments show real missionaries, members, and investigators in non-scripted, unrehearsed, actual missionary situations.
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Send</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your reply here...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="page-header ">
        <h1>
            Ask us a question
        </h1>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "Mission", FormMethod.Get, new { @class = "form-group" }))
            {
                <div class="row">
                    <div class="col-md-6">
                        <h3>Name</h3>
                        @Html.TextBox("Name", "", new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <h3>Email</h3>
                        @Html.TextBox("Email", "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Message</h3>
                        @Html.TextArea("Message", "", new { @class = "form-control text_message", rows = "4" })
                    </div>
                </div>
                <br />
                <p>
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
                </p>
            }
        </div>
    </div>
</div>